* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;
    position: relative;
}

.telegram-callback {
    position: absolute;
    top: 45%;
    left: 28%;
    font-family: monospace;
    font-size: 29px;
    color: rgba(5, 5, 65, 0.7);
    font-style: italic;
}

.github-link {
    position: absolute;
    top: 69%;
    left: 55%;
}

.github-link img {
    width: 50px;
    transform: rotate(5deg);
}